# Node modules and IDE settings
node_modules
.git
.vscode
*.log

# Flutter 系プロジェクトとWindowsビルド関連
flutter/*
flutterApp/*
lambda/*
**/.dart_tool/
**/build/
**/windows/
**/.plugin_symlinks/

# その他不要ファイル
.DS_Store
*.iml
